# {
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body {
	background-image:url('../images/Pune_Lonavla_Khandala_01.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 20px;
}

ul li{
	display: inline-block;
	margin-left: 5px;
}
ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px solid #fff transparent;
	transition: 0.6s ease;
}
ul li a:hover {
	background-color: white;
	color: black;
}

ul li.active a {
	background-color: white;
	color: black;
}

.logo img {
	float: left;
	width: 100px;
	height: auto;
}
.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title  h1 {
	color: cyan;
	font-size: 70px;
}

.button {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn {
	border: 1px solid #fff  transparent;
	padding: 10px 30px;
	color: #fff;
	text-decoration: None;
	transition: 0.6s ease;
}
.btnfont {
	color: black;
	font-size: 15px;

}
.btn:hover {
	background-color: white;
	color: black;
}
.projects {
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-30%, -50%);
}
.projects h3 {
	color: cyan;
	font-size: 22px;
}
.projects p {
	color: black;
	font-size: 15px;
}
.skills {
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-30%, -30%);
}
.skills h3 {
	color: cyan;
	font-size: 22px;
}
.skills p {
	color: black;
	font-size: 15px;
}
.aboutMe {
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-30%, -30%);
}
.aboutMe h3 {
	color: cyan;
	font-size: 22px;
}
.aboutMe p {
	color: black;
	font-size: 15px;
}
.subprojects {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 20px;
  border: 2px solid #fff transparent;
  padding: 2px 16px;
}

/* On mouse-over, add a deeper shadow */
.subprojects:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.skillsubset {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 20px;
  border: 2px solid #fff transparent;
  padding: 2px 16px;
}
.skillsubset:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.experience {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 20px;
  border: 2px solid #fff transparent;
  padding: 2px 16px;
}
.experience:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}